USE [HMS4109]
GO
/****** Object:  Table [dbo].[CM_Assessment]    Script Date: 1/14/2019 12:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[CM_Assessment](
	[CM_AssessID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[No],(0)),(8))) PERSISTED NOT NULL,
	[No] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[CM_Assessor] [varchar](50) NULL,
	[CM_Date] [varchar](50) NULL,
	[CM_AssessType] [varchar](50) NULL,
	[ESS_PositionID] [varchar](58) NULL,
	[CM_SelfAssess] [varchar](50) NULL,
	[CM_JobRoleID] [varchar](58) NULL,
	[CM_LevelID] [varchar](58) NULL,
PRIMARY KEY CLUSTERED 
(
	[CM_AssessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CM_CompetencyLevel]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[CM_CompetencyLevel](
	[CM_LevelID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[No],(0)),(8))) PERSISTED NOT NULL,
	[No] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[CM_LevelName] [varchar](50) NULL,
	[CM_CDescription] [varchar](50) NULL,
	[CM_CompetencyRateID] [varchar](58) NULL,
PRIMARY KEY CLUSTERED 
(
	[CM_LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CM_CompetencyLibrary]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[CM_CompetencyLibrary](
	[CM_LibraryID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[No],(0)),(8))) PERSISTED NOT NULL,
	[No] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[CM_CompetencyName] [varchar](50) NULL,
	[CM_Description] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CM_LibraryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CM_CompetencyRate]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[CM_CompetencyRate](
	[CM_CompetencyRateID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[No],(0)),(8))) PERSISTED NOT NULL,
	[No] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[CM_RateValue] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CM_CompetencyRateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CM_EmployeeCompetency]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[CM_EmployeeCompetency](
	[CM_EmpID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[No],(0)),(8))) PERSISTED NOT NULL,
	[No] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[CM_Name] [varchar](50) NULL,
	[ESS_PositionID] [varchar](58) NULL,
	[ESS_DeptID] [varchar](58) NULL,
	[CM_JobRoleID] [varchar](58) NULL,
	[CM_LevelID] [varchar](58) NULL,
	[CM_AssessID] [varchar](58) NULL,
	[CM_CompetencyRateID] [varchar](58) NULL,
PRIMARY KEY CLUSTERED 
(
	[CM_EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CM_JobRole]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[CM_JobRole](
	[CM_JobRoleID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[No],(0)),(8))) PERSISTED NOT NULL,
	[No] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[CM_JobRoleName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CM_JobRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CM_Qualification]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[CM_Qualification](
	[CM_QualificationID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[No],(0)),(8))) PERSISTED NOT NULL,
	[No] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[CM_QRating] [varchar](50) NULL,
	[CM_AssessID] [varchar](58) NULL,
PRIMARY KEY CLUSTERED 
(
	[CM_QualificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CM_Report]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[CM_Report](
	[CM_ReportID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[No],(0)),(8))) PERSISTED NOT NULL,
	[No] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[CM_Date] [varchar](50) NULL,
	[CM_EmpID] [varchar](58) NULL,
PRIMARY KEY CLUSTERED 
(
	[CM_ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_bm_rooms]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_bm_rooms](
	[Room_ID] [int] NOT NULL,
	[Bed_No] [int] NULL,
	[Patient_ID] [int] NULL,
	[Room_type] [varchar](50) NULL,
	[rate] [int] NULL,
	[date_occopied] [varchar](50) NULL,
	[bed_status] [varchar](50) NULL,
	[bed_remarks] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_bm_transferHistory]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_bm_transferHistory](
	[bedtransfer_id] [int] IDENTITY(1,1) NOT NULL,
	[Patient_ID] [varchar](50) NULL,
	[patient_name] [varchar](50) NULL,
	[from_room] [varchar](50) NULL,
	[from_bed] [varchar](50) NULL,
	[from_type] [varchar](50) NULL,
	[from_dateOccu] [varchar](50) NULL,
	[to_room] [varchar](50) NULL,
	[to_bed] [varchar](50) NULL,
	[to_type] [varchar](50) NULL,
	[datetime_transfer] [varchar](50) NULL,
	[reason_transfer] [varchar](50) NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_Core1_bm_transferHistory] PRIMARY KEY CLUSTERED 
(
	[bedtransfer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_dra_drinfo]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_dra_drinfo](
	[Doctor_ID] [int] NULL,
	[Drname] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_dra_publish]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_dra_publish](
	[Schedule_ID] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Specialization] [varchar](50) NULL,
	[consult_date] [varchar](50) NULL,
	[Schedule] [varchar](50) NULL,
	[Consult_start] [varchar](50) NULL,
	[Consult_end] [varchar](50) NULL,
	[Max_patient_today] [varchar](50) NULL,
	[Hospital_name] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Contact_number] [varchar](50) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_dra_registered]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_dra_registered](
	[Dr_ID] [varchar](50) NOT NULL,
	[surname] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[middlename] [varchar](50) NULL,
	[bod] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[citizenship] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[civil_status] [varchar](50) NULL,
	[contact_no] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[school] [varchar](50) NULL,
	[course] [varchar](50) NULL,
	[date_grad] [varchar](50) NULL,
	[specialization] [varchar](50) NULL,
	[dr_pic] [varbinary](max) NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_dra_schedule]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_dra_schedule](
	[Schedule_ID] [varchar](50) NULL,
	[Dr_ID] [varchar](50) NULL,
	[surname] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[specialization] [varchar](50) NULL,
	[consult_day] [varchar](50) NULL,
	[consult_time_from] [varchar](50) NULL,
	[consult_time_to] [varchar](50) NULL,
	[max_patient] [int] NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_ipd_admission]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_ipd_admission](
	[Ipd_ID] [varchar](50) NULL,
	[Patient_ID] [varchar](50) NULL,
	[Dr_ID] [varchar](50) NULL,
	[Room_ID] [varchar](50) NULL,
	[Admitedby] [varchar](50) NULL,
	[admitdate] [varchar](50) NULL,
	[IPDFindingsNo] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[remarks] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_IPM_ADMISSION]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_IPM_ADMISSION](
	[IPMAdmitNo] [varchar](50) NOT NULL,
	[IPMPatientId] [varchar](50) NULL,
	[IPMDoctorId] [varchar](50) NULL,
	[IPDRoomId] [varchar](50) NULL,
	[IPDBedId] [varchar](50) NULL,
	[IPDFindingsNo] [nchar](10) NULL,
 CONSTRAINT [PK_CORE1IPMADMISSION] PRIMARY KEY CLUSTERED 
(
	[IPMAdmitNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_lm_assign]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_lm_assign](
	[Assign_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[datetime] [varchar](50) NULL,
	[Room] [varchar](50) NULL,
	[Bed] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_Core1_lm_assign] PRIMARY KEY CLUSTERED 
(
	[Assign_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_lm_inventory]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_lm_inventory](
	[Stock_ID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Date_use] [date] NULL,
	[Stock_category] [varchar](50) NULL,
	[Receive_by] [varchar](50) NULL,
	[Date_receive] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_lm_monitoring]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_lm_monitoring](
	[Monitoring_ID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Room_assign] [varchar](50) NULL,
	[Date_Finish] [date] NULL,
	[Assign_by] [varchar](50) NULL,
	[Date_assign] [date] NULL,
	[Floor_category] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_opd_consultationProgress]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_opd_consultationProgress](
	[findings_no] [int] NULL,
	[name] [varchar](50) NULL,
	[age] [int] NULL,
	[gender] [varchar](50) NULL,
	[patContact] [varchar](50) NULL,
	[patient_illness] [varchar](50) NULL,
	[doctor_name] [varchar](50) NULL,
	[specialization] [varchar](50) NULL,
	[bp] [varchar](50) NULL,
	[temp] [varchar](50) NULL,
	[height] [varchar](50) NULL,
	[weight] [varchar](50) NULL,
	[dateTime] [varchar](50) NULL,
	[date_sysmptoms] [varchar](50) NULL,
	[symp_desc] [varchar](500) NULL,
	[diagnose] [varchar](500) NULL,
	[date_diagnose] [varchar](500) NULL,
	[diag_desc] [varchar](500) NULL,
	[medicine] [varchar](500) NULL,
	[dosage] [varchar](500) NULL,
	[tablet] [varchar](500) NULL,
	[take] [varchar](500) NULL,
	[until] [varchar](500) NULL,
	[med_desc] [varchar](500) NULL,
	[status] [varchar](50) NULL,
	[Remarks] [varchar](50) NULL,
	[Patient_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_opd_consultlist]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_opd_consultlist](
	[Consultation_ID] [int] NULL,
	[name] [varchar](50) NULL,
	[age] [int] NULL,
	[gender] [varchar](50) NULL,
	[patContact] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[patient_type] [varchar](50) NULL,
	[mode_of_payment] [varchar](50) NULL,
	[doctor_name] [varchar](50) NULL,
	[specialization] [varchar](50) NULL,
	[patient_illness] [varchar](50) NULL,
	[consult_day] [varchar](50) NULL,
	[appontment_registered] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[Patient_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_opd_consultwaiting]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_opd_consultwaiting](
	[vitalSigns_no] [int] NULL,
	[name] [varchar](50) NULL,
	[age] [int] NULL,
	[gender] [varchar](50) NULL,
	[patContact] [varchar](50) NULL,
	[patient_illness] [varchar](50) NULL,
	[doctor_name] [varchar](50) NULL,
	[specialization] [varchar](50) NULL,
	[bp] [varchar](50) NULL,
	[temp] [varchar](50) NULL,
	[height] [varchar](50) NULL,
	[weight] [varchar](50) NULL,
	[dateTime] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[Patient_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_opd_treatmentmedicine]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_opd_treatmentmedicine](
	[diagnosis_no] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[diagnose_description] [varchar](500) NULL,
	[medicine] [varchar](50) NULL,
	[dosage] [varchar](50) NULL,
	[medicine_type] [varchar](50) NULL,
	[take] [varchar](50) NULL,
	[medicine_description] [varchar](500) NULL,
 CONSTRAINT [PK_Core1_opd_treatmentmedicine] PRIMARY KEY CLUSTERED 
(
	[diagnosis_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_PR_EmergencyContact]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_PR_EmergencyContact](
	[EmergencyContactNo] [int] IDENTITY(6200001,1) NOT NULL,
	[PR_PatientId] [varchar](50) NULL,
	[EC_Lname] [varchar](50) NULL,
	[EC_Fname] [varchar](50) NULL,
	[EC_Mi] [varchar](50) NULL,
	[EC_Title] [varchar](50) NULL,
	[EC_Company] [varchar](50) NULL,
	[EC_Display] [varchar](50) NULL,
	[EC_MobileNo] [varchar](50) NULL,
	[EC_Email] [varchar](50) NULL,
	[EC_Street] [varchar](50) NULL,
	[EC_City] [varchar](50) NULL,
	[EC_StateProvince] [varchar](50) NULL,
	[EC_ZipCode] [varchar](50) NULL,
	[EC_CountryReligion] [varchar](50) NULL,
	[EC_Webpage] [varchar](50) NULL,
	[EC_Phone] [varchar](50) NULL,
	[EC_Bday] [varchar](50) NULL,
	[EC_Language] [varchar](50) NULL,
	[EC_SSN] [varchar](50) NULL,
	[EC_B_Street] [varchar](50) NULL,
	[EC_B_City] [varchar](50) NULL,
	[EC_B_StateProvince] [varchar](50) NULL,
	[EC_B_ZipCode] [varchar](50) NULL,
	[EC_B_CountryReligion] [varchar](50) NULL,
	[EC_B_Webpage] [varchar](50) NULL,
	[EC_B_Phone] [varchar](50) NULL,
	[EC_B_Fax] [varchar](50) NULL,
	[EC_B_FiscalCode] [varchar](50) NULL,
	[EC_B_RegNo] [varchar](50) NULL,
	[EC_B_TaxId] [varchar](50) NULL,
	[EC_B_Manager] [varchar](50) NULL,
	[EC_BA_BankName] [varchar](50) NULL,
	[EC_BA_BankCode] [varchar](50) NULL,
	[EC_BA_Notes] [varchar](1000) NULL,
	[EC_BA_Facebook] [varchar](50) NULL,
	[EC_BA_Twitter] [varchar](50) NULL,
	[EC_BA_Skype] [varchar](50) NULL,
	[EC_Time] [varchar](50) NULL,
	[EC_Date] [varchar](50) NULL,
	[EC_Status] [varchar](50) NULL,
 CONSTRAINT [PK_Core1_PR_EmergencyContact] PRIMARY KEY CLUSTERED 
(
	[EmergencyContactNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_PR_Overview]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_PR_Overview](
	[view_ID] [int] IDENTITY(1,1) NOT NULL,
	[Patient_ID] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[date_undergo] [varchar](50) NULL,
	[patient_type] [varchar](50) NULL,
 CONSTRAINT [PK_Core1_PR_Overview] PRIMARY KEY CLUSTERED 
(
	[view_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_pr_PatientRegistration]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_pr_PatientRegistration](
	[Patient_ID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[Mode_of_payment] [varchar](50) NULL,
	[PR_Gender] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[PR_Birthdate] [varchar](50) NULL,
	[PR_Occupation] [varchar](50) NULL,
	[PR_PhoneNo] [varchar](50) NULL,
	[PR_MobileNo] [varchar](50) NULL,
	[PR_Email] [varchar](50) NULL,
	[PR_BussinessPhone] [varchar](50) NULL,
	[PR_MaritalStatus] [varchar](50) NULL,
	[PR_SpouseName] [varchar](50) NULL,
	[PR_MaidenName] [varchar](50) NULL,
	[PR_Nationality] [varchar](50) NULL,
	[PR_Company] [varchar](50) NULL,
	[PR_Religion] [varchar](50) NULL,
	[PR_PlaceBirth] [varchar](50) NULL,
	[PR_Facebook] [varchar](50) NULL,
	[PR_Twitter] [varchar](50) NULL,
	[PR_Skype] [varchar](50) NULL,
	[PR_Hobby] [varchar](50) NULL,
	[PR_Notes] [varchar](max) NULL,
	[PR_Remarks] [varchar](50) NULL,
	[PR_Status] [varchar](50) NULL,
	[PR_Time] [varchar](50) NULL,
	[PR_Date] [varchar](50) NULL,
	[age] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core1_PR_PatientRegistrationHistory]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core1_PR_PatientRegistrationHistory](
	[PR_HistoryNo] [int] IDENTITY(60000001,1) NOT NULL,
	[PR_PatientId] [varchar](50) NULL,
	[PR_LastName] [varchar](50) NULL,
	[PR_FirstName] [varchar](50) NULL,
	[PR_MiddleName] [varchar](50) NULL,
	[PR_Gender] [varchar](50) NULL,
	[PR_Birthdate] [varchar](50) NULL,
	[PR_Occupation] [varchar](50) NULL,
	[PR_PhoneNo] [int] NULL,
	[PR_MobileNo] [int] NULL,
	[PR_Email] [varchar](50) NULL,
	[PR_BussinessPhone] [int] NULL,
	[PR_MaritalStatus] [varchar](50) NULL,
	[PR_SpouseName] [varchar](50) NULL,
	[PR_MaidenName] [varchar](50) NULL,
	[PR_Nationality] [varchar](50) NULL,
	[PR_Company] [varchar](50) NULL,
	[PR_Religion] [varchar](50) NULL,
	[PR_PlaceBirth] [varchar](50) NULL,
	[PR_Hobby] [varchar](50) NULL,
	[PR_Notes] [varchar](1000) NULL,
	[PR_Facebook] [varchar](50) NULL,
	[PR_Twitter] [varchar](50) NULL,
	[PR_Skype] [varchar](50) NULL,
	[PR_EC_Lname] [varchar](50) NULL,
	[PR_EC_Fname] [varchar](50) NULL,
	[PR_EC_Mi] [varchar](50) NULL,
	[PR_EC_Title] [varchar](50) NULL,
	[PR_EC_Company] [varchar](50) NULL,
	[PR_EC_Display] [varchar](50) NULL,
	[PR_EC_MobileNo] [varchar](50) NULL,
	[PR_EC_Email] [varchar](50) NULL,
	[PR_EC_Street] [varchar](50) NULL,
	[PR_EC_City] [varchar](50) NULL,
	[PR_EC_StateProvince] [varchar](50) NULL,
	[PR_EC_ZipCode] [varchar](50) NULL,
	[PR_EC_CountryReligion] [varchar](50) NULL,
	[PR_EC_Webpage] [varchar](50) NULL,
	[PR_EC_Phone] [varchar](50) NULL,
	[PR_EC_Bday] [varchar](50) NULL,
	[PR_EC_Language] [varchar](50) NULL,
	[PR_EC_SSN] [varchar](50) NULL,
	[PR_EC_B_Street] [varchar](50) NULL,
	[PR_EC_B_City] [varchar](50) NULL,
	[PR_EC_B_StateProvince] [varchar](50) NULL,
	[PR_EC_B_ZipCode] [varchar](50) NULL,
	[PR_EC_B_CountryReligion] [varchar](50) NULL,
	[PR_EC_B_Webpage] [varchar](50) NULL,
	[PR_EC_B_Phone] [varchar](50) NULL,
	[PR_EC_B_Fax] [varchar](50) NULL,
	[PR_EC_B_FiscalCode] [varchar](50) NULL,
	[PR_EC_B_RegNo] [varchar](50) NULL,
	[PR_EC_B_TaxId] [varchar](50) NULL,
	[PR_EC_B_Manager] [varchar](50) NULL,
	[PR_EC_BA_BankName] [varchar](50) NULL,
	[PR_EC_BA_BankCode] [varchar](50) NULL,
	[PR_EC_BA_Notes] [varchar](1000) NULL,
	[PR_EC_BA_Facebook] [varchar](50) NULL,
	[PR_EC_BA_Twitter] [varchar](50) NULL,
	[PR_EC_BA_Skype] [varchar](50) NULL,
	[PR_Time] [varchar](50) NULL,
	[PR_Date] [varchar](50) NULL,
	[PR_Status] [varchar](50) NULL,
 CONSTRAINT [PK_PR_PatientRegistrationHistory] PRIMARY KEY CLUSTERED 
(
	[PR_HistoryNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Discharge_Billing_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Discharge_Billing_TBL](
	[BillingID] [int] NOT NULL,
	[Admitid] [int] NULL,
	[PatientName] [varchar](50) NULL,
	[MealID] [int] NULL,
	[TestID] [int] NULL,
	[BedID] [int] NULL,
	[LinenID] [int] NULL,
	[PackageID] [int] NULL,
	[SCHED_ID] [int] NULL,
	[InsuranceID] [int] NULL,
	[MedicineID] [int] NULL,
	[TotalAmount] [float] NULL,
 CONSTRAINT [PK_Core2_Discharge_Billing_TBL] PRIMARY KEY CLUSTERED 
(
	[BillingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_HMO_Application_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_HMO_Application_TBL](
	[AppID] [int] NOT NULL,
	[PatientID] [int] NULL,
	[PatientName] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[DateApplied] [date] NULL,
	[InsuranceType] [varchar](50) NULL,
	[InsuranceName] [varchar](50) NULL,
	[MemberID] [int] NULL,
 CONSTRAINT [PK_Core2_HMO_Application_TBL_1] PRIMARY KEY CLUSTERED 
(
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_HMO_Insurance_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_HMO_Insurance_TBL](
	[InsuranceID] [int] NOT NULL,
	[AppID] [int] NULL,
	[HospitalBill] [int] NULL,
	[Deductible] [int] NULL,
	[InsuranceCoverage] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[DiscountedBill] [float] NULL,
 CONSTRAINT [PK_Core2_HMO_Insurance_TBL] PRIMARY KEY CLUSTERED 
(
	[InsuranceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_HMO_MedicalRequirements_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_HMO_MedicalRequirements_TBL](
	[RequirementsID] [int] NOT NULL,
	[PatientID] [int] NULL,
	[Requirements1] [varchar](50) NULL,
	[Requirements2] [varchar](50) NULL,
	[Requirements3] [varchar](50) NULL,
	[Requirements4] [varchar](50) NULL,
	[Requirements5] [varchar](50) NULL,
	[Requirements6] [varchar](50) NULL,
	[Requirements7] [varchar](50) NULL,
	[Requirements8] [varchar](50) NULL,
	[Requirements9] [varchar](50) NULL,
	[Requirements10] [varchar](50) NULL,
 CONSTRAINT [PK_Core2_HMO_MedicalRequirements_TBL] PRIMARY KEY CLUSTERED 
(
	[RequirementsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Lab_Monitoring]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Lab_Monitoring](
	[EquipID] [int] NOT NULL,
 CONSTRAINT [PK_Core2_Lab_Monitoring] PRIMARY KEY CLUSTERED 
(
	[EquipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Lab_Report_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Lab_Report_TBL](
	[ReportID] [int] NOT NULL,
	[ResultID] [int] NULL,
 CONSTRAINT [PK_Core2_Lab_Report_TBL] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Lab_Request_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Lab_Request_TBL](
	[RequestID] [int] NOT NULL,
	[PatientID] [int] NULL,
	[PatientName] [varchar](50) NULL,
	[RequestType] [varchar](50) NULL,
	[DateRequest] [date] NULL,
	[RequestInfo] [varchar](50) NULL,
	[RequestBy] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_Core2_Lab_Request_TBL] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Lab_Requisition_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Lab_Requisition_TBL](
	[RequestID] [int] NOT NULL,
	[EquipName] [varchar](50) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Core_Lab_Requisition_TBL] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Lab_Result_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Lab_Result_TBL](
	[ResultID] [int] NOT NULL,
	[TestID] [int] NULL,
	[Result] [varchar](50) NULL,
	[Remarks] [varchar](50) NULL,
	[ReleasedDate] [date] NULL,
	[ExaminedBy] [varchar](50) NULL,
 CONSTRAINT [PK_Core2_Lab_Result_TBL] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Lab_Test_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Lab_Test_TBL](
	[TestID] [int] NOT NULL,
	[RequestID] [int] NULL,
	[TestName] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[TestDate] [date] NULL,
	[PreparedBy] [varchar](50) NULL,
	[Amount] [float] NULL,
 CONSTRAINT [PK_Core2_Lab_Test_TBL] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_opt_equip]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_opt_equip](
	[Request_ID] [int] NOT NULL,
	[Equip1] [varchar](50) NULL,
	[Qty1] [varchar](50) NULL,
	[Equip2] [varchar](50) NULL,
	[Qty2] [varchar](50) NULL,
	[Equip3] [varchar](50) NULL,
	[Qty3] [varchar](50) NULL,
	[Equip4] [varchar](50) NULL,
	[Qty4] [varchar](50) NULL,
	[Equip5] [varchar](50) NULL,
	[Qty5] [varchar](50) NULL,
	[Request_by] [varchar](50) NULL,
	[Request_Status] [varchar](50) NULL,
 CONSTRAINT [PK_Core2_opt_equip] PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_opt_medicine]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_opt_medicine](
	[Med_ID] [int] NOT NULL,
	[Medicine_ID] [int] NULL,
	[Medicine_Desc] [varchar](50) NULL,
	[Medicine_Type] [varchar](50) NULL,
	[Medicine_QTY] [varchar](50) NULL,
	[Purpose] [varchar](50) NULL,
	[Request_By] [varchar](50) NULL,
 CONSTRAINT [PK_Core2_opt_medicine] PRIMARY KEY CLUSTERED 
(
	[Med_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_opt_Program]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_opt_Program](
	[Program_ID] [int] NOT NULL,
	[Treatment_ID] [int] NULL,
	[Program_Date] [date] NULL,
	[Program_Type] [varchar](50) NULL,
	[Program_Description] [varchar](50) NULL,
 CONSTRAINT [PK_Core2_opt_Program] PRIMARY KEY CLUSTERED 
(
	[Program_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_opt_treatment]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_opt_treatment](
	[Treatment_ID] [int] NOT NULL,
	[OPdid] [int] NULL,
	[PatientName] [varchar](50) NULL,
	[Findings] [varchar](50) NULL,
	[Treatment_Status] [varchar](50) NULL,
	[Treatment_Result] [varchar](50) NULL,
	[Doctor_ID] [int] NULL,
	[RequestID] [int] NULL,
 CONSTRAINT [PK_Core2_opt_treatment] PRIMARY KEY CLUSTERED 
(
	[Treatment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Surg_Ref_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Surg_Ref_TBL](
	[SURGREF_ID] [int] NULL,
	[SURGTYPE] [varchar](50) NULL,
	[SURGPROCEDURE] [varchar](50) NULL,
	[SURGBILLS] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Surg_Sched_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Surg_Sched_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[Operation_type]  AS ([Prefix]+right(CONVERT([varchar](8),[ID],(0)),(8))) PERSISTED,
	[SCHED_DATE] [date] NULL,
	[SCHED_STIME] [varchar](50) NULL,
	[SCHED_ETIME] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Room_no] [varchar](50) NULL,
	[Bill] [float] NULL,
	[SURGREF_ID] [varchar](50) NULL,
	[admitid] [varchar](50) NULL,
	[dr_app_id] [varchar](50) NULL,
	[Patient_ID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core2_Surg_Scheduler_TBL]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core2_Surg_Scheduler_TBL](
	[SCHED_ID] [int] NOT NULL,
	[SCHED_STIME] [varchar](50) NULL,
	[SCHED_ETIME] [varchar](50) NULL,
	[SURGREF_ID] [int] NULL,
	[admitid] [int] NULL,
	[dr_app_id] [int] NULL,
	[Patient_ID] [int] NULL,
 CONSTRAINT [PK_Core2_Surg_Scheduler_TBL] PRIMARY KEY CLUSTERED 
(
	[SCHED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Core3_labmngt_labreq]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Core3_labmngt_labreq](
	[lab_ID] [varchar](50) NULL,
	[pat_name] [varchar](50) NULL,
	[age] [varchar](50) NULL,
	[sex] [varchar](50) NULL,
	[patNo] [varchar](50) NULL,
	[sick] [varchar](50) NULL,
	[reqDr] [varchar](50) NULL,
	[date_req] [varchar](50) NULL,
	[hema] [varchar](50) NULL,
	[bloodChem] [varchar](50) NULL,
	[micro] [varchar](50) NULL,
	[electro] [varchar](50) NULL,
	[thyroid] [varchar](50) NULL,
	[serology] [varchar](50) NULL,
	[radiology] [varchar](500) NULL,
	[others] [varchar](50) NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HR3TAEmployeeAttendance]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR3TAEmployeeAttendance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[AttendaceNo]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[ID],(0)),(8))) PERSISTED,
	[DATE] [varchar](50) NULL,
	[NH_EMP_ID] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[TimeIn] [varchar](50) NULL,
	[TimeOut] [varchar](50) NULL,
	[Time_In] [varchar](50) NULL,
	[Time_Out] [varchar](50) NULL,
	[OTimeIn] [varchar](50) NULL,
	[OtimeOut] [varchar](50) NULL,
	[Total] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_table]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[Login_table](
	[LoginID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[Num],(0)),(8))) PERSISTED NOT NULL,
	[Num] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[UserName] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[logtime] [varchar](20) NULL,
	[Emp_Status] [int] NULL,
	[RoleID] [varchar](58) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sample]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sample](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[Sched_No]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[ID],(0)),(8))) PERSISTED,
	[Name] [varchar](50) NULL,
	[Posiion] [nchar](10) NULL,
	[Department] [nchar](10) NULL,
	[Monday] [nchar](10) NULL,
	[Tuesday] [nchar](10) NULL,
	[Wednesday] [nchar](10) NULL,
	[Thursday] [nchar](10) NULL,
	[Friday] [nchar](10) NULL,
	[Saturday] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 1/14/2019 12:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleID]  AS ([Prefix]+right('00000000'+CONVERT([varchar](8),[Num],(0)),(8))) PERSISTED NOT NULL,
	[Num] [int] IDENTITY(1,1) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[RoleName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Core1_bm_rooms] ([Room_ID], [Bed_No], [Patient_ID], [Room_type], [rate], [date_occopied], [bed_status], [bed_remarks]) VALUES (101, 1, 0, N'Private', 3700, N'2018-09-27', N'Scheduled for cleaning', N'Transfer successfully')
INSERT [dbo].[Core1_bm_rooms] ([Room_ID], [Bed_No], [Patient_ID], [Room_type], [rate], [date_occopied], [bed_status], [bed_remarks]) VALUES (102, 2, 0, N'Semi Private', 3000, N'2018-09-27', N'For Cleaning', N'Transfer successfully')
INSERT [dbo].[Core1_bm_rooms] ([Room_ID], [Bed_No], [Patient_ID], [Room_type], [rate], [date_occopied], [bed_status], [bed_remarks]) VALUES (103, 3, 0, N'Semi Private', 3000, N'', N'Available', N'')
SET IDENTITY_INSERT [dbo].[Core1_bm_transferHistory] ON 

INSERT [dbo].[Core1_bm_transferHistory] ([bedtransfer_id], [Patient_ID], [patient_name], [from_room], [from_bed], [from_type], [from_dateOccu], [to_room], [to_bed], [to_type], [datetime_transfer], [reason_transfer], [status]) VALUES (1, N'1', N'Jimmel Bermudez', N'101', N'1', N'Private', N'2018-09-06', N'104', N'4', N'Ward', N'10/11/2018 2:31PM', N'', N'Transfered successfully')
INSERT [dbo].[Core1_bm_transferHistory] ([bedtransfer_id], [Patient_ID], [patient_name], [from_room], [from_bed], [from_type], [from_dateOccu], [to_room], [to_bed], [to_type], [datetime_transfer], [reason_transfer], [status]) VALUES (2, N'2', N'Ronald Bartolata', N'102', N'2', N'Semi Private', N'2018-09-27', N'105', N'5', N'Ward', N'01/14/2019 12:00PM', N'', N'Transfered successfully')
SET IDENTITY_INSERT [dbo].[Core1_bm_transferHistory] OFF
INSERT [dbo].[Core1_dra_drinfo] ([Doctor_ID], [Drname]) VALUES (1, N'ron')
INSERT [dbo].[Core1_dra_drinfo] ([Doctor_ID], [Drname]) VALUES (2, N'jim')
INSERT [dbo].[Core1_dra_drinfo] ([Doctor_ID], [Drname]) VALUES (3, N'jemar')
INSERT [dbo].[Core1_dra_publish] ([Schedule_ID], [Name], [Specialization], [consult_date], [Schedule], [Consult_start], [Consult_end], [Max_patient_today], [Hospital_name], [Location], [Email], [Contact_number], [Status]) VALUES (N'1', N'Bartolata', N'Cardiologist ', N'09/20/2018 9:22AM', N'Thursday', N'9:00AM', N'4:00PM', N'25', N'Kaizen hospital', N'Quirino Highway Quezon City', N'kaizen@hms.com.ph', N'0916-865-0122', N'On duty')
INSERT [dbo].[Core1_dra_publish] ([Schedule_ID], [Name], [Specialization], [consult_date], [Schedule], [Consult_start], [Consult_end], [Max_patient_today], [Hospital_name], [Location], [Email], [Contact_number], [Status]) VALUES (N'2', N'Alicdan', N'Neurologist ', N'09/20/2018 9:24AM', N'Thursday', N'10:00AM', N'3:00PM', N'18', N'Kaizen hospital', N'Quirino Highway Quezon City', N'kaizen@hms.com.ph', N'0916-865-0122', N'On duty')
INSERT [dbo].[Core1_dra_publish] ([Schedule_ID], [Name], [Specialization], [consult_date], [Schedule], [Consult_start], [Consult_end], [Max_patient_today], [Hospital_name], [Location], [Email], [Contact_number], [Status]) VALUES (N'2', N'Calicdan', N'Family medicine', N'09/20/2018 9:24AM', N'Thursday', N'9:00AM', N'2:00PM', N'9', N'Kaizen hospital', N'Quirino Highway Quezon City', N'kaizen@hms.com.ph', N'0916-865-0122', N'On duty')
INSERT [dbo].[Core1_dra_schedule] ([Schedule_ID], [Dr_ID], [surname], [gender], [specialization], [consult_day], [consult_time_from], [consult_time_to], [max_patient], [status]) VALUES (N'S1', N'1', N'Bartolata', N'Male', N'Cardiologist ', N'Thursday', N'9:00AM', N'4:00PM', 25, N'On duty')
INSERT [dbo].[Core1_dra_schedule] ([Schedule_ID], [Dr_ID], [surname], [gender], [specialization], [consult_day], [consult_time_from], [consult_time_to], [max_patient], [status]) VALUES (N'S2', N'2', N'Calicdan', N'Male', N'Family medicine', N'Thursday', N'9:00AM', N'2:00PM', 15, N'On duty')
INSERT [dbo].[Core1_dra_schedule] ([Schedule_ID], [Dr_ID], [surname], [gender], [specialization], [consult_day], [consult_time_from], [consult_time_to], [max_patient], [status]) VALUES (N'S3', N'4', N'Alicdan', N'Male', N'Neurologist ', N'Thursday', N'10:00AM', N'3:00PM', 20, N'On duty')
INSERT [dbo].[Core1_ipd_admission] ([Ipd_ID], [Patient_ID], [Dr_ID], [Room_ID], [Admitedby], [admitdate], [IPDFindingsNo], [status], [remarks]) VALUES (N'1', N'1', N'1', N'1', N'Jesus', N'2018-09-06', NULL, NULL, N'Inpatient')
INSERT [dbo].[Core1_ipd_admission] ([Ipd_ID], [Patient_ID], [Dr_ID], [Room_ID], [Admitedby], [admitdate], [IPDFindingsNo], [status], [remarks]) VALUES (N'2', N'2', N'2', N'2', N'Jemar', N'2018-09-06', NULL, NULL, N'Inpatient')
SET IDENTITY_INSERT [dbo].[Core1_lm_assign] ON 

INSERT [dbo].[Core1_lm_assign] ([Assign_ID], [Name], [datetime], [Room], [Bed], [Status]) VALUES (1, N'Ron', N'10/11/2018 5:52,PM', N'101', N'1', N'Scheduled for cleaning')
INSERT [dbo].[Core1_lm_assign] ([Assign_ID], [Name], [datetime], [Room], [Bed], [Status]) VALUES (2, N'Ron', N'10/11/2018 7:06,PM', N'', N'', N'Scheduled for cleaning')
INSERT [dbo].[Core1_lm_assign] ([Assign_ID], [Name], [datetime], [Room], [Bed], [Status]) VALUES (3, N'Ron', N'10/11/2018 7:08,PM', N'', N'', N'Scheduled for cleaning')
SET IDENTITY_INSERT [dbo].[Core1_lm_assign] OFF
INSERT [dbo].[Core1_opd_consultlist] ([Consultation_ID], [name], [age], [gender], [patContact], [address], [patient_type], [mode_of_payment], [doctor_name], [specialization], [patient_illness], [consult_day], [appontment_registered], [status], [Patient_ID]) VALUES (1, N'Jesus, Galleza Ggggg', 24, N'Male', N'912345678', N'Montalvan', N'OLD', N'HMO', N'Calicdan', N'Family medicine', N'Feaver', N'Thursday', N'9/20/2018 5:06PM', N'Done Consultation', 5)
INSERT [dbo].[Core1_opd_consultlist] ([Consultation_ID], [name], [age], [gender], [patContact], [address], [patient_type], [mode_of_payment], [doctor_name], [specialization], [patient_illness], [consult_day], [appontment_registered], [status], [Patient_ID]) VALUES (2, N'Rea, cocjin Asid', 20, N'Female', N'89898', N'dgtffghf', N'OLD', N'CASH', N'Calicdan', N'Family medicine', N'Headache', N'Thursday', N'9/20/2018 10:28AM', N'No vital signs yet', 9)
INSERT [dbo].[Core1_opd_consultlist] ([Consultation_ID], [name], [age], [gender], [patContact], [address], [patient_type], [mode_of_payment], [doctor_name], [specialization], [patient_illness], [consult_day], [appontment_registered], [status], [Patient_ID]) VALUES (3, N'Rea, cocjin Asid', 20, N'Female', N'89898', N'dgtffghf', N'OLD', N'CASH', N'Calicdan', N'Family medicine', N'Feaver', N'Thursday', N'09/20/2018 2:40AM', N'No vital signs yet', 9)
INSERT [dbo].[Core1_opd_consultwaiting] ([vitalSigns_no], [name], [age], [gender], [patContact], [patient_illness], [doctor_name], [specialization], [bp], [temp], [height], [weight], [dateTime], [status], [Patient_ID]) VALUES (1, N'Jesus, Galleza Ggggg', 24, N'Male', N'912345678', N'Feaver', N'Calicdan', N'Family medicine', N'180/80', N'37°F', N'500 cm', N'80 kg', N'09/20/2018 5:37PM', N'Done Consultation', 5)
INSERT [dbo].[Core1_opd_consultwaiting] ([vitalSigns_no], [name], [age], [gender], [patContact], [patient_illness], [doctor_name], [specialization], [bp], [temp], [height], [weight], [dateTime], [status], [Patient_ID]) VALUES (2, N'Jesus, Galleza Ggggg', 24, N'Male', N'912345678', N'Feaver', N'Calicdan', N'Family medicine', N'110/80', N'36°F', N'150 cm', N'60 kg', N'01/14/2019 11:56AM', N'Done Consultation', 5)
INSERT [dbo].[Core1_opd_consultwaiting] ([vitalSigns_no], [name], [age], [gender], [patContact], [patient_illness], [doctor_name], [specialization], [bp], [temp], [height], [weight], [dateTime], [status], [Patient_ID]) VALUES (3, N'Jesus, Galleza Ggggg', 24, N'Male', N'912345678', N'Feaver', N'Calicdan', N'Family medicine', N'', N'', N'', N'', N'', N'Done Consultation', 5)
SET IDENTITY_INSERT [dbo].[Core1_opd_treatmentmedicine] ON 

INSERT [dbo].[Core1_opd_treatmentmedicine] ([diagnosis_no], [title], [diagnose_description], [medicine], [dosage], [medicine_type], [take], [medicine_description]) VALUES (1, N'Pain', N'Severity, e.g. does the patient wake up because of the pain
', N'Acetylsalicylic', N'600mg', N'Capsule', N'4 hours', N'Acetylsalicylic acid 600mg every 4 hours until pain subsides ')
INSERT [dbo].[Core1_opd_treatmentmedicine] ([diagnosis_no], [title], [diagnose_description], [medicine], [dosage], [medicine_type], [take], [medicine_description]) VALUES (2, N'Severe Pain', N'May cause respiratory depression', N'Tramadol', N'50-100mg', N'Tablet', N'6 hours', N'Tramadol tablets or injection 50-100mg every 6 hours or until pain is controlled. ')
INSERT [dbo].[Core1_opd_treatmentmedicine] ([diagnosis_no], [title], [diagnose_description], [medicine], [dosage], [medicine_type], [take], [medicine_description]) VALUES (3, N'Migraine Headache
', N'Psychological stress', N'Paracetamol,Aspirin', N'1g,600mg', N'Tablet', N'4 hours', N'Paracetamol 1g immediately then every 4 hours; Max 4g per day,  Aspirin 600mg, repeat after 4 hours if needed.  ')
SET IDENTITY_INSERT [dbo].[Core1_opd_treatmentmedicine] OFF
SET IDENTITY_INSERT [dbo].[Core1_PR_Overview] ON 

INSERT [dbo].[Core1_PR_Overview] ([view_ID], [Patient_ID], [name], [gender], [date_undergo], [patient_type]) VALUES (1, N'5', N'Jesus, Galleza Ggggg', N'male', N'09/20/2018 5:37PM', N'Outpatient')
INSERT [dbo].[Core1_PR_Overview] ([view_ID], [Patient_ID], [name], [gender], [date_undergo], [patient_type]) VALUES (2, N'5', N'Jesus, Galleza Ggggg', N'Male', N'01/14/2019 11:58AM', N'Outpatient')
INSERT [dbo].[Core1_PR_Overview] ([view_ID], [Patient_ID], [name], [gender], [date_undergo], [patient_type]) VALUES (3, N'5', N'Jesus, Galleza Ggggg', N'Male', N'01/14/2019 12:22PM', N'Outpatient')
SET IDENTITY_INSERT [dbo].[Core1_PR_Overview] OFF
INSERT [dbo].[Core3_labmngt_labreq] ([lab_ID], [pat_name], [age], [sex], [patNo], [sick], [reqDr], [date_req], [hema], [bloodChem], [micro], [electro], [thyroid], [serology], [radiology], [others], [status]) VALUES (N'5', N'', N'', N'', N'', N'', N'', N'09/20/2018 6:30PM', N'', N'BUN, ', N'', N'', N'', N'', N'', N'', N'Pending laboratory')
INSERT [dbo].[Core3_labmngt_labreq] ([lab_ID], [pat_name], [age], [sex], [patNo], [sick], [reqDr], [date_req], [hema], [bloodChem], [micro], [electro], [thyroid], [serology], [radiology], [others], [status]) VALUES (N'5', N'nora puyaoanv', N'23', N'Female', N'1231231231', N'ASD', N'Calicdan', N'09/20/2018 5:16PM', N'', N'', N'', N'', N'', N'', N'Chest X-Ray, Reason:Cough, X-Ray, Reason:Bone cancer, Spirometry, ', N'', N'Pending laboratory')
SET IDENTITY_INSERT [dbo].[HR3TAEmployeeAttendance] ON 

INSERT [dbo].[HR3TAEmployeeAttendance] ([ID], [Prefix], [DATE], [NH_EMP_ID], [Name], [Position], [Department], [TimeIn], [TimeOut], [Time_In], [Time_Out], [OTimeIn], [OtimeOut], [Total], [Status]) VALUES (1, N'HR3TtaNo', N'8/10/2018', N'1', N'Ron', N'Utility', N'Housekeeping', N'7:20am', NULL, NULL, NULL, NULL, NULL, NULL, N'On duty')
INSERT [dbo].[HR3TAEmployeeAttendance] ([ID], [Prefix], [DATE], [NH_EMP_ID], [Name], [Position], [Department], [TimeIn], [TimeOut], [Time_In], [Time_Out], [OTimeIn], [OtimeOut], [Total], [Status]) VALUES (2, N'HR3TtaNo', N'8/10/2018', N'2', N'Mane', N'Utility', N'Housekeeping', N'7:50am', NULL, NULL, NULL, NULL, NULL, NULL, N'On duty')
SET IDENTITY_INSERT [dbo].[HR3TAEmployeeAttendance] OFF
ALTER TABLE [dbo].[Core1_pr_PatientRegistration] ADD  CONSTRAINT [DF_Core1_pr_PatientRegistration_PR_Remarks]  DEFAULT ('New') FOR [PR_Remarks]
GO
ALTER TABLE [dbo].[HR3TAEmployeeAttendance] ADD  CONSTRAINT [DF_HR3TAEmployeeAttendance_Prefix]  DEFAULT ('HR3TtaNo') FOR [Prefix]
GO
ALTER TABLE [dbo].[CM_CompetencyLevel]  WITH CHECK ADD  CONSTRAINT [FK_CM_CompetencyLevel_CM_CompetencyRate] FOREIGN KEY([CM_CompetencyRateID])
REFERENCES [dbo].[CM_CompetencyRate] ([CM_CompetencyRateID])
GO
ALTER TABLE [dbo].[CM_CompetencyLevel] CHECK CONSTRAINT [FK_CM_CompetencyLevel_CM_CompetencyRate]
GO
ALTER TABLE [dbo].[CM_EmployeeCompetency]  WITH CHECK ADD  CONSTRAINT [FK_CM_EmployeeCompetency_CM_Assessment] FOREIGN KEY([CM_AssessID])
REFERENCES [dbo].[CM_Assessment] ([CM_AssessID])
GO
ALTER TABLE [dbo].[CM_EmployeeCompetency] CHECK CONSTRAINT [FK_CM_EmployeeCompetency_CM_Assessment]
GO
ALTER TABLE [dbo].[CM_EmployeeCompetency]  WITH CHECK ADD  CONSTRAINT [FK_CM_EmployeeCompetency_CM_CompetencyLevel] FOREIGN KEY([CM_LevelID])
REFERENCES [dbo].[CM_CompetencyLevel] ([CM_LevelID])
GO
ALTER TABLE [dbo].[CM_EmployeeCompetency] CHECK CONSTRAINT [FK_CM_EmployeeCompetency_CM_CompetencyLevel]
GO
ALTER TABLE [dbo].[CM_EmployeeCompetency]  WITH CHECK ADD  CONSTRAINT [FK_CM_EmployeeCompetency_CM_JobRole] FOREIGN KEY([CM_JobRoleID])
REFERENCES [dbo].[CM_JobRole] ([CM_JobRoleID])
GO
ALTER TABLE [dbo].[CM_EmployeeCompetency] CHECK CONSTRAINT [FK_CM_EmployeeCompetency_CM_JobRole]
GO
ALTER TABLE [dbo].[CM_Qualification]  WITH CHECK ADD  CONSTRAINT [FK_CM_Qualification_CM_Assessment] FOREIGN KEY([CM_AssessID])
REFERENCES [dbo].[CM_Assessment] ([CM_AssessID])
GO
ALTER TABLE [dbo].[CM_Qualification] CHECK CONSTRAINT [FK_CM_Qualification_CM_Assessment]
GO
ALTER TABLE [dbo].[CM_Report]  WITH CHECK ADD  CONSTRAINT [FK_CM_Report_CM_EmployeeCompetency] FOREIGN KEY([CM_EmpID])
REFERENCES [dbo].[CM_EmployeeCompetency] ([CM_EmpID])
GO
ALTER TABLE [dbo].[CM_Report] CHECK CONSTRAINT [FK_CM_Report_CM_EmployeeCompetency]
GO
ALTER TABLE [dbo].[Login_table]  WITH CHECK ADD  CONSTRAINT [FK_Login_table_UserRole] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRole] ([RoleID])
GO
ALTER TABLE [dbo].[Login_table] CHECK CONSTRAINT [FK_Login_table_UserRole]
GO
